# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
*.egg-info/
.pytest_cache/

# Node
node_modules/
dist/
*.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker volumes (local)
postgres_data/

# Datos geoespaciales / cartografía (pesados, no versionar)
*.gpkg
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx
*.qmd
*.qpj
*.zip
*.geojson
*.gdb/
